.ilist {
    list-style: none;
    padding: 0;
  }
  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .labelhead{
    font-size:27px;
    border-radius: 5px;
    background-color: rgb(82, 225, 244);
    padding: 5px;
    text-align: center;
    width: 55%;
  }