.overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  background-color: rgba(140, 242, 248, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
  left: 0;
  top: 0;
  border-radius: 8px;
}
.overlayContent {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.card {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  position: relative;
}
.item_description {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 0.5rem;
  /* width: 47%; */
  text-align: left;
  margin-left: 15px;
}
.item_price {
  /* width:20%; */
  font-size: 20px;
  word-wrap: break-word;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #9af8e8;
  padding: 0.5rem;
  border-radius: 12px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid rgb(2, 153, 176);
  margin-left: auto;
}
.im {
  width: 220px;
  height: 170px;
  height: 170px;
  border: 2px solid rgb(2, 153, 176);
  padding: 0.5rem;
  border-radius: 12px;
}
.inf {
  font-size: 17px;
  margin-bottom: 5px;
  display: flex;
  align-items: baseline;
}
.ic {
  width: 20px;
  height: 20px;
  padding-right: 6px;
}
.heart {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 30px;
  height: 30px;
}
.heart:hover,
.del:hover,
.upd:hover,
.im:hover {
  cursor: pointer;
}
.del {
  position: absolute;
  top: 0%;
  right: 36px;
  width: 30px;
  height: 30px;
}
.upd {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 30px;
  height: 30px;
}
@media (max-width: 700px) {
  .card {
    flex-direction: column;
    align-items: flex-start;
  }
  .im {
    margin-top: 35px;
  }
}
