.span {
  color: red;
  font-size: 20px;
  align-self: start;
  grid-column-start: 1;
  grid-column-end: 4;
}
.button {
  font: inherit;
  border: 5 solid #084b4f;
  background: #dbf5f7;
  color: rgb(0, 0, 0);
  padding: 0.25rem 1rem;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 0 2px #000000;
}
.tb {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 5px;
  border-width: 1px;
}
.mar {
  margin-right: 15px;
}
.tb:hover,
.tb:active {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
.tb:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.button:hover,
.button:active {
  background: #a2edf1;
  border-color: #95b7b9;
  box-shadow: 0 0 10px #7bacd3;
}

.button:focus {
  outline: none;
}
.carddad {
  margin: 2rem auto;
  width: 60%;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(245, 250, 251);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  padding: 1rem;
  min-width: 280px;
}

.carddad1 {
  width: 90%;
  display: grid;
  padding-bottom: 10px;
  grid-template-columns: 50% 30% 20%;
}
.carddad2 {
  width: 90%;
  display: grid;
  grid-template-columns: 42% 15% 43%;
  padding-bottom: 10px;
}
.carddad3 {
  width: 90%;
  display: grid;
  grid-template-columns: 100%;
  padding-bottom: 10px;
}
.label {
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  word-break: break-word;
}
.labelh {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 10px;
}
.cb {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 5px;
}

.cb:hover,
.cb:active {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
.cb:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
@media (min-width: 860px) and (max-width: 1140px) {
  .carddad {
    width: 70%;
  }
}
@media (min-width: 620px) and (max-width: 860px) {
  .carddad {
    width: 90%;
  }
}
@media (max-width: 620px) {
  .carddad,
  .carddad1,
  .carddad2,
  .carddad3 {
    width: 100%;
  }
}
@media (max-width: 520px) {
  .cb,
  .label {
    font-size: 18px;
  }
}
@media (max-width: 490px) {
  .carddad1,
  .carddad2 {
    display: flex;
    flex-direction: column;
  }
  .tb {
    width: 100%;
    margin-bottom: 5px;
  }
  .cb,
  .label {
    width: 100%;
    margin-bottom: 5px;
    font-size: 20px;
  }
}
